/* Gruvbox */
/* @define-color bg #282828; */
/* @define-color gray #928374; */
/* @define-color red #fb4934; */
/* @define-color green #b8bb26; */
/* @define-color yellow #fabd2f; */
/* @define-color blue #83a598; */
/* @define-color purple #d3869b; */
/* @define-color aqua #8ec07c; */
/* @define-color orange #d65d0e; */
/* @define-color fg #ebdbb2; */
/* Catppuccin */
@define-color fg #cdd6f4;
@define-color bg #1e1e2e;
@define-color red #f38ba8;
@define-color purple #cba6f7;
@define-color yellow #f9e2af;
@define-color aqua #94e2d5 ;
@define-color green #a6e3a1 ;
@define-color blue #89b4fa ;
@define-color orange #d65d0e;

* {
    font-family: JetBrainsMonoNerdFont,otf-font-awesome,monospace;
    font-size: 16px;
}
window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    border-radius:6px;
}
#cpu,#network,#bluetooth,#tray,#memory,#backlight,#battery,#clock,#bluetooth {
    padding:5px;
}
#cpu{
    color:@red;
}
#pulseaudio{
    padding-right: 8px;
}
#memory{
    color:@purple;
}
#network{
    padding: 0px;
    padding-right: 15px;
}
#pulseaudio{
    color:@yellow;
}
#backlight{
    color: @aqua;
}
#network,#bluetooth{
    color: @blue;
}
#battery{
    color:@green;
}
#workspaces button{
    padding: 5px;
    color: @fg;
    border-radius:0px;
    min-width: 16px;
}
#workspaces button:first-child{
    padding: 5px;
    color: @fg;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#workspaces button.active{
    background-color: @orange;
    border-radius:0px;
}
#workspaces button.active:first-child{
    background-color: @orange;
    border-radius:0px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#workspaces button:hover {
    background: @purple;
    border-radius:0px;
}
#workspaces button:hover:first-child {
    background: @purple;
    border-radius:0px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#workspaces button.focused {
    background-color: #64727D;
}
#workspaces button.focused:hover:first-child {
    background-color: #64727D;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#workspaces button.urgent:hover {
    background-color: @red;
    border-radius:0px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

