@define-color bg #282828;
@define-color gray #928374;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #d65d0e;
@define-color fg #ebdbb2;
* {
    font-family: JetBrainsMonoNerdFont,otf-font-awesome,monospace;
    font-size: 16px;
}
window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    border-radius:0px;
}
#cpu,#pulseaudio,#memory,#backlight,#battery,#clock,#bluetooth {
    padding:5px;
}
#network{
    padding:5px;
    padding-right:20px;
}
#cpu{
    color:@red;
}
#memory{
    color:@purple;
}
#pulseaudio{
    color:@yellow;
}
#backlight{
    color: @aqua;
}
#network,#bluetooth{
    color: @blue;
}
#tray{
    padding-right: 10px;
}
#battery{
    color:@green;
}
#workspaces button {
    padding: 5px;
    color: @fg;
    border-radius:0px;
}
#workspaces button.active{
    background-color: @orange;
    border-radius:0px;
}
#workspaces button:hover {
    background: @purple;
    border-radius:0px;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: @red;
    border-radius:0px;
}

